/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/test_resources
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/ycb
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/textures
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/shapenet_remote
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/shapenet_mug
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/shapenet_can
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/shapenet_camera
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/shapenet_bottle
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/allegro
/home/xiaoyu/Desktop/yogee/dex-affordance/hand_imitation/hand_imitation/env/models/assets/arenas
/home/xiaoyu/Desktop/yogee/dex-affordance/dapg/dapg/demonstrations