hand_imitation_temp/test_resources
hand_imitation_temp/hand_imitation/env/models/assets/ycb
hand_imitation_temp/hand_imitation/env/models/assets/textures
hand_imitation_temp/hand_imitation/env/models/assets/shapenet_remote
hand_imitation_temp/hand_imitation/env/models/assets/shapenet_mug
hand_imitation_temp/hand_imitation/env/models/assets/shapenet_can
hand_imitation_temp/hand_imitation/env/models/assets/shapenet_camera
hand_imitation_temp/hand_imitation/env/models/assets/shapenet_bottle
hand_imitation_temp/hand_imitation/env/models/assets/allegro
hand_imitation_temp/hand_imitation/env/models/assets/arenas
dapg/dapg/demonstrations
